.MuiContainer-root {
  padding-left: 0!important;
  padding-right: 0!important;
}

.mainContent {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.formContent {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
}

.linkStyle {
  color: #212121;
  text-decoration: none;
}

h4 {
  color: #f1f1f1;
  font-size: 1.5em!important;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

body {
  overflow-y: overlay;
  min-height: 100vh;
}

.MuiCard-root {
    margin-left: 1em;
    margin-right: 1em;
}
